.navbar {
  color: rgb(17, 16, 16);
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #ffff;
  width: 250px;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.menu-item-breaker {
  height: 100%;
}

.expand-logo {
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10px;
  padding-bottom: 20px;
}
.holder {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  background-color: rgb(105, 105, 105);
  color: white;
}

.name {
  margin-left: 15px;
}

.nameBorder {
  border-top: none;
  border-bottom: none;
}